* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 18px;
}
@media (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

h1, h2 {
  margin: 0;
  padding: 0;
}
h2 {
  font-variant: small-caps;
  text-shadow: 0 1px 1px #333;
}

p, li {
  line-height: 1.5rem;
}

.page-header {
  min-height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 2px solid #eee;
}
.page-header .logo {
  height: 80px;
}

.header-navigation {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}
.header-navigation-mobile-open,
.header-navigation-mobile-close {
  display: none;
}

.header-navigation a {
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 1rem .5rem;

  color: #000;
  font-size: 1.3rem;
}
.header-navigation a:hover,
.header-navigation a.active {
  color: #EC6738;
  text-decoration: none;
}
.header-navigation a.active {
  border-bottom: 2px solid #EC6738;
}

@media (max-width: 800px) {
  .header-navigation:not(:target) {
    display: none;
  }
  .header-navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    text-align: center;

    background: rgba(255, 255, 255, .9);
  }

  .header-navigation-mobile-open,
  .header-navigation-mobile-close {
    display: block;
    width: 75px;

    color: #000;
    text-align: center;
  }
  .header-navigation-mobile-open:hover,
  .header-navigation-mobile-close:hover {
    color: #EC6738;
    text-decoration: none;
  }
  .header-navigation-mobile-close {
    align-self: flex-end;
  }
  .header-navigation-mobile-open .fa,
  .header-navigation-mobile-close .fa {
    font-size: 2rem;
  }
}

.page-footer {
  text-align: center;
}

.footer-motto {
  background-color: #fff;
}

ul.footer-page-links,
ul.footer-social-links {
  padding-left: 0;
}

.footer-page-links li,
.footer-social-links li {
  display: inline;
}

.footer-page-links {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;

  background-color: #146977;
}
.footer-page-links a {
  padding-left: 1rem;
  padding-right: 1rem;

  color: #fff;
  line-height: 2rem;
}
.footer-page-links li::after {
  content: ' ';
  white-space: normal;
  word-spacing: 1px;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=);
  background-repeat: repeat-y;
  background-size: 1px;
}

.footer-social-links {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #000;
}
.footer-social-links a {
  padding-left: 3%;
  padding-right: 3%;

  color: #fff;
  font-size: 3rem;
}
.footer-social-links a:hover {
  color: #85D9E0;
}

.footer-copyright {
  font-size: .9rem;
}
.footer-copyright a {
  color: #146977;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container.container-large {
  max-width: 1200px;
}

.row {
  display: flex;
  align-items: center;
}
.row-adapt {
  flex-grow: 1;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-title {
  margin-top: -20px;
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: #fff;

  background-color: rgba(0, 0, 0, 0.8);
}

.section.intro {
  padding-top: 400px;

  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://sogilis.com/wp-content/uploads/2016/04/0.Haut_page.jpg);
}
.section.intro .link-call-to-action {
  margin-top: 20px;
}
@media (max-width: 800px) {
  .section.intro {
    padding-top: 175px;
  }
}

.section.company {
  color: #fff;

  background-color: #146977;
}
a {
  color: #85D9E0;

  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.section.frieze {
  height: 200px;

  border-top: 10px solid #111;
  background-color: #111;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(http://sogilis.com/wp-content/uploads/2016/04/Recrutement_IMG-tech-01.svg);
}
@media (max-width: 600px) {
  .section.frieze {
    height: 115px;
  }
}

.section.job {
  color: #fff;

  background-color: #EC6738;
}

.section.contact {
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(http://sogilis.com/wp-content/uploads/2016/04/1.Bas_page-1.png);
}
.section.contact .section-title {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 800px) {
  .section.contact {
    background-position: center top;
  }
}

.link-call-to-action {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;

  border: 2px solid #75C0C7;
  border-radius: 3px;
}
.link-call-to-action:hover {
  color: #000;
  text-decoration: none;

  background-color: #75C0C7;
}
@media (max-width: 800px) {
  .link-call-to-action {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
  }
}
