:root {
  --big-margin: 5rem;
  --medium-margin: 3.75rem;
  --small-margin: 3.125rem;
}
#servicezone1 {
  margin-bottom: var(--big-margin);
}

#servicezone1-article1-img_desktop_smartphone_cloud {
  flex: 0 0 64%;
}

#servicezone1-article1-textzone {
  position: relative;
}

#servicezone1-article1-textzone-cloud {
  height: 30%;
  position: absolute;
  margin-left: -4rem;
  margin-top: -1rem;
}

#servicezone1-article1-textzone-text {
  margin-left: 10%;
}

#servicezone1-article1-textzone-text-h1 {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: var(--font-sans-serif);
  color: var(--light-grey);
  margin-top: 20%;
}

#servicezone1-article1-textzone-text-h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--wolf-blue);
}

#servicezone1-article1-textzone-text-p {
  color: var(--medium-grey);
  font-weight: 300;
}

#servicezone1-article2 {
  display: grid;
  padding-left: 4rem;
  grid-gap: 5%;
  width: 71%;
  grid-template-areas:
    '.                              servicezone1-article2-section1 servicezone1-article2-section1 .'
    'servicezone1-article2-section2 servicezone1-article2-section2 servicezone1-article2-section3 servicezone1-article2-section3';
}

#servicezone1-article2-section1 {
  grid-area: servicezone1-article2-section1;
}

#servicezone1-article2-section2 {
  grid-area: servicezone1-article2-section2;
}

#servicezone1-article2-section3 {
  grid-area: servicezone1-article2-section3;
}

#servicezone3 {
  background-color: var(--super-light-grey2);
  box-shadow: var(--box-shadow);
  padding: var(--big-margin) 0;
}

#servicezone3-article {
  flex-direction: column;
}

#servicezone3-article-section1 {
  width: 45%;
  margin: 0 auto 3rem auto;
}

#servicezone3-article-section1-p {
  margin-top: 2rem;
}


#servicezone3-article-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.servicezone3-article-section2-griditem {
  background-color: white;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  position: relative;
  height: 7.5rem;
}

.servicezone3-article-section2-griditem::after {
  width: 1.8rem;
  height: 0.3rem;
  top: calc(75% - 0.15rem);
}

#servicezone4 {
  position: relative;
  margin-top: 3.125rem;
}

#servicezone4-article-section1 {
  /* width: 75% - 8%(margin-left) */
  width: 67%;
  padding: var(--big-margin) 25% 4rem 7rem;
  background-color: var(--light-electric-blue);
  margin-left: 8%;
  box-shadow: var(--box-shadow);
}

#servicezone4-article-section1-content {
  margin-right: 1rem;
}

#servicezone4-article-section1,
#servicezone4-article-section1-title {
  color: var(--wolf-blue);
}

#servicezone4-article-section1-title::after {
  content: '';
  display: block;
  background-color: white;
  height: 0.8rem;
  width: 100%;
  /**
   * line-height: 1.2
   * 0.27rem === 0.8rem / 3
   */
  margin-top: calc(-1.2em / 2.5 + 0.32rem);
  margin-left: 35%;
  z-index: 1;
}


#servicezone4-article-section2 {
  margin-left: 50%;
  width: 50%;

  /* refer to the width of the containing block */
  margin-top: -20%;

  display: grid;
  grid-column-gap: 6.25rem;
  grid-row-gap: 2.5rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: var(--wolf-blue);
  padding: var(--big-margin) var(--big-margin) var(--big-margin) 6.25rem;
  box-shadow: var(--box-shadow);
}

#servicezone5,
#servicezone6,
#servicezone7 {
  margin-top: var(--medium-margin);
}

#servicezone5-imgdesktop,
#servicezone6-section {
  flex: 0 0 42%;
  margin-left: 8%;
}

#servicezone5-section,
#servicezone6-img {
  flex: 0 0 50%;
}

#servicezone5-imgdesktop {
  padding-right: 4rem;
}

#servicezone5-section {
  padding-left: 7rem;
}

#servicezone6-section-imglanguagesgrid {
  display: grid;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  grid-template-columns: auto auto auto auto;
}

.servicezone6-section-imglanguagesgrid-imgcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicezone6-section-imglanguagesgrid-imgcaption-img {
  flex: 0 0 80%;
}

.servicezone6-section-imglanguagesgrid-imgcaption-caption {
  flex: 0 0 20%;
  font-size: 0.8rem;
  font-weight: 700;
}

#servicezone7 {
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: var(--big-margin);
}
