/**
TODO
Should be merged with shared.css
As advised by Alban, use variables for all z-index
TODO
replace font-weight: number by variable
replace border by variables
 **/

:root {
  --z-index-foreground: 2;
  --z-index-1: 0;
  --z-index-normal: 0;
  --z-index-background: -1;
  /** TODO Factorize into Blog index-page.css */
  --header-size: 7rem;
  --font-sans-serif: "Montserrat", sans-serif;
  --light-grey: #D3D3D3;
  /** TODO factorize with all box-shadow */
  --box-shadow: 0 0 19px 0px rgba(0, 0, 0, 0.1);
}

body {
  /** TODO remove color from #articlepage */
  color: var(--medium-grey);
}

h2 {
  color: var(--medium-grey)
}

#langselectorfr {
  position:fixed;
  bottom: 2rem;
  right: 2rem;
  height: 3rem;
  width: 8rem;
  z-index: var(z-index-foreground);
  background: linear-gradient(to right, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
  border-radius: 10rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#langselectorfr-anchor {
  color: white;
  font-family: 'EB Garamond', serif;
  margin-top: 0.25rem;
  font-weight: bold;
  padding-left: 0.6rem;
  text-decoration: none;
}

main {
  padding-top: var(--header-size);
}

/* TODO factorize with `footer-address-name::before` and others */
.hyphendeco::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--light-electric-blue);
}

.hyphendecoafter::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--light-electric-blue);
}

.hyphendeco-title::before {
  height: 0.3rem;
  /**
   * On boostrap, we have line-height: 1.5
   * 0.15rem === 0.3rem / 2
   */
  margin-top: calc(1.5em / 2 - 0.15rem);
}

.hyphendeco-title-small {
  margin-left: 1.56rem;
}

.hyphendeco-title-small-textfollowing {
  margin-left: 2.56rem;
}

.hyphendeco-title-small::before {
  margin-left: -1.56rem;
  width: 1rem;
}

.hyphendeco-title-medium {
  margin-left: 4rem;
}

.hyphendeco-title-medium::before {
  margin-left: -2rem;
  width: 1.25rem;
}

.hyphendeco-title-big {
  margin-left: 2.25rem;
}

.hyphendeco-title-big-textfollowing {
  margin-left: 3.25rem;
}

.hyphendeco-title-big::before {
  margin-left: -2.25rem;
  width: 1.56rem;
}

.title-16 {
  font-size: 1.6rem;
}

.title-17 {
  font-size: 1.7rem;
}

.title-18 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.title-20 {
  font-size: 2.0rem;
}

.title-25 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 3.125rem;
}

.title-30 {
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.font-wolf-blue-bold {
  font-size: 1.1rem;
  color: var(--wolf-blue);
  font-weight: 700;
}

.text-description {
  line-height: 1.8rem;
}

/* TODO correct .btn-dark-grey into `shared.css` */
.btn-dark-grey {
  display: inline-block;
}
