/* line 5, ../sass/nous-rejoindre.scss */
.just {
  text-align: justify;
  text-justify: inter-word;
}

/* line 10, ../sass/nous-rejoindre.scss */
.space_quote {
  margin-top: 1rem;
}

/* line 14, ../sass/nous-rejoindre.scss */
.legende {
  color: #016099;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 700;
}

/* line 21, ../sass/nous-rejoindre.scss */
.content_purpose_2 {
  margin-bottom: 0;
}

/* line 25, ../sass/nous-rejoindre.scss */
.container-application {
  margin-top: 15px;
  margin-bottom: 45px;
}
/* line 29, ../sass/nous-rejoindre.scss */
.container-application .container-application__required {
  font-size: 13px;
  color: red;
  display: none;
}
/* line 35, ../sass/nous-rejoindre.scss */
.container-application input[type=file] {
  display: none;
}
/* line 39, ../sass/nous-rejoindre.scss */
.container-application .container-application__message {
  width: 100%;
}
/* line 43, ../sass/nous-rejoindre.scss */
.container-application .container-application__file-input {
  cursor: pointer;
}
/* line 47, ../sass/nous-rejoindre.scss */
.container-application .container-application__failure,
.container-application .container-application__success {
  margin-top: 15px;
}
/* line 52, ../sass/nous-rejoindre.scss */
.container-application .container-application__submit-container {
  display: flex;
  justify-content: end;
}
/* line 57, ../sass/nous-rejoindre.scss */
.container-application .container-application__submit-container__btn {
  cursor: pointer;
}
/* line 61, ../sass/nous-rejoindre.scss */
.container-application input[type=checkbox],
.container-application input[type=radio] {
  width: auto;
}
/* line 67, ../sass/nous-rejoindre.scss */
.container-application input[type=text],
.container-application input[type=email],
.container-application .container-application__file-input {
  border: 3px solid #707070;
  text-indent: 15px;
  padding: 10px;
  color: #707070;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}
/* line 83, ../sass/nous-rejoindre.scss */
.container-application input[type=text]:focus,
.container-application input[type=email]:focus,
.container-application .container-application__file-input:focus {
  border: 3px solid #016099;
  color: #016099;
}
/* line 89, ../sass/nous-rejoindre.scss */
.container-application .container-application__file-input {
  font-size: 12px;
  padding: 8px;
}
