/* line 7, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 {
  margin: 2em 0;
  padding: 2em;
}
@media (min-width: 48em) {
  /* line 7, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .content_purpose_2 {
    padding: 3em;
  }
}
/* line 15, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 .text_description {
  font-size: 1em;
}
/* line 18, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 .just {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  padding-bottom: 1em;
}
/* line 24, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 .just:last-child {
  padding-bottom: 0;
}
/* line 31, ../sass/nous-rejoindre.scss */
.nous-rejoindre .liste {
  padding-top: 3em;
  color: #016099;
  font-family: 'Montserrat', sans-serif;
}
/* line 37, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application {
  margin-top: 15px;
  margin-bottom: 45px;
}
/* line 41, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__required {
  font-size: 13px;
  color: red;
  display: none;
}
/* line 47, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=file] {
  display: none;
}
/* line 51, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__message {
  width: 100%;
}
/* line 55, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__file-input {
  cursor: pointer;
}
/* line 59, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__failure,
.nous-rejoindre .container-application .container-application__success {
  margin-top: 15px;
}
/* line 64, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__submit-container {
  display: flex;
  justify-content: end;
}
/* line 69, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__submit-container__btn {
  cursor: pointer;
}
/* line 73, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=checkbox],
.nous-rejoindre .container-application input[type=radio] {
  width: auto;
}
/* line 79, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=text],
.nous-rejoindre .container-application input[type=email],
.nous-rejoindre .container-application .container-application__file-input {
  border: 3px solid #707070;
  text-indent: 15px;
  padding: 10px;
  color: #707070;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}
/* line 95, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=text]:focus,
.nous-rejoindre .container-application input[type=email]:focus,
.nous-rejoindre .container-application .container-application__file-input:focus {
  border: 3px solid #016099;
  color: #016099;
}
/* line 101, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__file-input {
  font-size: 12px;
  padding: 8px;
}
/* line 105, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application .container-application__file-input:hover {
  color: white;
}
/* line 112, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_3__videos-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1em;
  width: 100%;
  padding: 0 1em;
  margin-bottom: 2em;
}
@media (min-width: 48em) {
  /* line 112, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_3__videos-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
@media (min-width: 75em) {
  /* line 112, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_3__videos-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* line 130, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_3__quote {
  padding: 0 1em;
  margin: 0 0 1em;
}
@media (min-width: 48em) {
  /* line 130, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_3__quote {
    padding: 0;
  }
}
/* line 141, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legendes {
  width: 100%;
}
/* line 145, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legende {
  color: #016099;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0;
}
@media (min-width: 48em) {
  /* line 145, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_2__legende {
    font-size: 1em;
  }
}
/* line 156, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legende:nth-child(3) {
  padding-left: 3em;
}
/* line 160, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legende:last-child {
  padding-left: 3em;
}
@media (min-width: 48em) {
  /* line 160, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_2__legende:last-child {
    padding-left: 5.5em;
  }
}
