/* line 7, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 {
  margin: 2em 0;
  padding: 2em;
}
@media (min-width: 48em) {
  /* line 7, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .content_purpose_2 {
    padding: 3em;
  }
}
/* line 15, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 .text_description {
  font-size: 1em;
}
/* line 18, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 .just {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  padding-bottom: 1em;
}
/* line 24, ../sass/nous-rejoindre.scss */
.nous-rejoindre .content_purpose_2 .just:last-child {
  padding-bottom: 0;
}
/* line 31, ../sass/nous-rejoindre.scss */
.nous-rejoindre .liste {
  padding-top: 3em;
  color: #016099;
  font-family: 'Montserrat', sans-serif;
}
/* line 37, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application {
  margin-top: 15px;
  margin-bottom: 45px;
}
/* line 41, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__required {
  font-size: 13px;
  color: red;
  display: none;
}
/* line 47, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=file] {
  display: none;
}
/* line 51, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__message {
  width: 100%;
}
/* line 55, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__file-input {
  cursor: pointer;
}
/* line 59, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__failure, .nous-rejoindre .container-application__success {
  margin-top: 15px;
}
/* line 64, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__submit-container {
  display: flex;
}
/* line 68, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__submit-container__btn {
  cursor: pointer;
  margin-left: auto;
}
@media (min-width: 48em) {
  /* line 73, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .container-application__files {
    display: flex;
  }
}
@media (min-width: 48em) {
  /* line 79, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .container-application__files-button {
    margin-left: 1em;
  }
  /* line 83, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .container-application__files-button:first-child {
    margin-left: 0;
  }
}
/* line 89, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=checkbox],
.nous-rejoindre .container-application input[type=radio] {
  width: auto;
}
/* line 95, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=text],
.nous-rejoindre .container-application input[type=email],
.nous-rejoindre .container-application .container-application__file-input {
  width: 100%;
  font-size: 1em;
}
/* line 101, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application input[type=text]:focus,
.nous-rejoindre .container-application input[type=email]:focus,
.nous-rejoindre .container-application .container-application__file-input:focus {
  border: 3px solid #016099;
  color: #016099;
}
/* line 107, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__file-input {
  font-size: 12px;
  padding: 10px 1em;
}
/* line 111, ../sass/nous-rejoindre.scss */
.nous-rejoindre .container-application__file-input:hover {
  color: white;
}
/* line 118, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_3__videos-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1em;
  width: 100%;
  padding: 0 1em;
  margin-bottom: 2em;
}
@media (min-width: 48em) {
  /* line 118, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_3__videos-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
@media (min-width: 75em) {
  /* line 118, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_3__videos-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* line 136, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_3__quote {
  padding: 0 1em;
  margin: 0 0 1em;
}
@media (min-width: 48em) {
  /* line 136, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_3__quote {
    padding: 0;
  }
}
/* line 147, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legendes {
  width: 100%;
}
/* line 151, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legende {
  color: #016099;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0;
}
@media (min-width: 48em) {
  /* line 151, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_2__legende {
    font-size: 1em;
  }
}
/* line 162, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legende:nth-child(3) {
  padding-left: 3em;
}
/* line 166, ../sass/nous-rejoindre.scss */
.nous-rejoindre .jobs_zone_2__legende:last-child {
  padding-left: 3em;
}
@media (min-width: 48em) {
  /* line 166, ../sass/nous-rejoindre.scss */
  .nous-rejoindre .jobs_zone_2__legende:last-child {
    padding-left: 5.5em;
  }
}
